<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="new-saldo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="modificaSaldo"
              url="http://localhost:3000/apitechu/v5/actualizamovimientos"
              method="POST"
              handle-as="json"
              on-response="modSaldo"
              on-error="mostrarErrormodSaldo">
    </iron-ajax>


    <h1>Realiza Transferencia</h1>
  </template>

  <script>
    /**
     * `new-saldo`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NewSaldo extends Polymer.Element {
      static get is() { return 'new-saldo'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          saldo:{
            type: Number
          }
        };
      }
      actualizaSaldos(iban,saldo){
        this.$.modificaSaldo.headers.iban = iban
        this.$.modificaSaldo.headers.saldo = saldo
        this.$.modificaSaldo.generateRequest()
      }
      modSaldo(resultado){
        console.log(resultado.detail.response)
        console.log("El saldo es ", this.saldo, " del IBAN ", this.iban)
      }
      mostrarErrormodSaldo(error){
        console.log(error.detail.response)
      }

    }

    window.customElements.define(NewSaldo.is, NewSaldo);
  </script>
</dom-module>
