<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{nombre::input}}"/>
    <input type="text" value="[[nombre]]"/>
    <h2>Soy {{nombre}} [[apellidos]]</h2>
    <h2>Soy [[nombre]] [[apellidos]]</h2>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
            //value: 'Miguel Angel'
          },
          apellidos: {
            type: String
          },
          edad:{
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
