<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="peti-saldo">
  <template>
    <style>
      :host {
        display: block;
      }
      input {
        color:blue;
      }
    </style>

    <iron-ajax id="gestionaSaldo"
              url="http://localhost:3000/apitechu/v5/petimovimiento"
              handle-as="json"
              on-response="mostrarSaldo"
              on-error="mostrarErrorSaldo">

    </iron-ajax>

    <div class="row">
      <br>
      Introduce iban destino Transferencia:
      <input type="iban" value={{iban::input}} />
      Introduce la cantidad a transferir:
      <input type="cantidad" value={{cantidad::input}} />
      <br>
      <button on-click="transferencia">Realiza Transferencia</button><br>
      </div>
  </template>

  <script>
    /**
     * `peti-saldo`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PetiSaldo extends Polymer.Element {
      static get is() { return 'peti-saldo'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          cantidad:{
            type:Number
          },
          saldo:{
            type: Number
          }
        };
      }
      peticionMovimiento(){

      }
      mostrarSaldo(resultado){
        console.log("en peti-saldo", resultado.detail.response)
        this.saldo=parseFloat(resultado.detail.response.saldo)
        console.log("En peti-saldo El saldo es ", this.saldo, " del IBAN ", this.iban, " y la cantidad es ", this.cantidad)
        if (this.saldo > this.cantidad){
          this.dispatchEvent(new CustomEvent ('nuevomovimiento', {"detail":{"iban":this.iban,"saldo":this.saldo,"cantidad":this.cantidad}}))
        } else {
          this.dispatchEvent(new CustomEvent ('nomovimiento', {"detail":{}}))
        }

      }
      mostrarErrorSaldo(error){
        console.log(error.detail.response)
      }
      transferencia(){
        this.$.gestionaSaldo.headers.iban = this.iban
        this.$.gestionaSaldo.generateRequest()
        console.log("El iban dentro de peti-saldo",this.iban)
        //this.dispatchEvent(new CustomEvent ('nuevomovimiento', {"detail":{"iban":this.iban,"saldo":this.saldo,"cantidad":this.cantidad}}))
      }
    }

    window.customElements.define(PetiSaldo.is, PetiSaldo);
  </script>
</dom-module>
