<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="no-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2 style="color:red">No puede realizar transferencia. No tiene Saldo suficiente</h2>
  </template>

  <script>
    /**
     * `no-movimiento`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NoMovimiento extends Polymer.Element {
      static get is() { return 'no-movimiento'; }
      static get properties() {
        return {
        };
      }
      mensaje(){
         console.log("No tiene Saldo suficiente")
       }
    }

    window.customElements.define(NoMovimiento.is, NoMovimiento);
  </script>
</dom-module>
