<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      input{
        color: blue;
      }
    </style>

    <h2>Introduce email y password</h2>

    <iron-ajax auto="" id="hacerLogin"
      url="http://localhost:3000/apitechu/v5/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>
         <div class="row">
         Introduce tu correo:
         <input type="email" value={{email::input}} />
         Introduce tu password:
         <input type="password" value={{password::input}} />
         <button on-click="logar">Login</button><br>
         <br>
       </br>
      <button on-click="nuevoUsuario">Nuevo Usuario</button>

         </div>
         <br>
         <h2><span hidden$={{!logado}} style="color:red">Usuario Desconectado</span></h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type:Boolean,
            value:false
          },
          newusu: {
            type: Boolean,
            value: false
          }

        }
      }
      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados y el id retornado es",resultado.detail.response.id)
        this.logado = true
        this.dispatchEvent(new CustomEvent ('logado', {"detail":{"id":resultado.detail.response.id}}))
      }
      logar() {
        console.log("1. El usuario ha pulsado el botón")
        this.$.hacerLogin.headers.email = this.email
        console.log(this.email)
        this.$.hacerLogin.headers.password = this.password
        console.log(this.password)
        /* Para acceder al arbol de controles del iron-ajax */
        console.log ("2. Voy a enviar la petición")
        this.$.hacerLogin.generateRequest()
        /* Esta es una propiedad de polymer para realizar la consulta */
        console.log("3. Petición enviada")
      }
      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
      }
      nuevoUsuario (){
        console.log("Alta de Nuevo Usuario")
        this.logado = false
        this.dispatchEvent(new CustomEvent ('altausuario',{"detail":{}}))
      }

    }
        window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
