<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerMovimientos"
              url="http://localhost:3000/apitechu/v5/movimientos"
              handle-as="json"
              on-response="mostrarMovimientos"
              on-error="mostrarErrorMovimientos">
    </iron-ajax>
    <br>
      <table class="table table-striped">
        <thead><th style="color:red">Sus movimientos</th></thead>
        <tbody>
          <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>Movimiento {{index}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.moneda}}</td>
            <!--<td><a class="btn btn-info" href="movimientos/[[item.iban]]">Ver movimientos</a></td>-->
            <!--<td><a class="btn btn-info" href="../../src/visor-movimientos.html">Ver movimientos</a></td>-->
          </tr>
        </template>
      </tbody>
      </table>

    </template>

  <script>
    /**
     * 'visor-movimientos'
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban: {
            type: Array
          },
          movimientos:{
            type: Array
          },
          nummovimientos:{
            type: Number
          }
        };
      }
      mostrarMovimientos(resultado){
        console.log(resultado.detail.response)
        this.movimientos=resultado.detail.response["movimientos"][0].movimientos
        var nummovimientos=this.movimientos.length
        console.log("El total de movimientos es:", nummovimientos)
        this.dispatchEvent(new CustomEvent ('nummovimientos', {"detail":{"nmovientos":nummovimientos}}))

        //this.dispatchEvent(new CustomEvent ('iban', {"detail":{"iban":resultado.detail.response.iban}}))
      }
      mostrarErrorMovimientos(error){
        console.log(error.detail.response)
      }
      obtenerMovs(ibanElegido) {
        this.$.obtenerMovimientos.headers["iban"] = ibanElegido
        this.$.obtenerMovimientos.generateRequest()
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
