<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: inline-block;
        position: relative;
      }
      button {
        width: 180px;
        height: 35px;
        color: blue;
        align: right;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
              url="http://localhost:3000/apitechu/v5/cuentas"
              handle-as="json"
              on-response="mostrarCuentas"
              on-error="mostrarErrorCuentas">

    </iron-ajax>


    <h1 style="font-size:xx-large;color:blue;">POSICIÓN GLOBAL</h1>

<table class="table table-striped">
  <thead><th>Sus cuentas IBAN</th></thead>
  <tbody>
    <template is="dom-repeat" items="{{iban}}">
    <tr>
      <td>{{index}}</td>
      <td><p style="color:red;">Cuenta:</p> {{item.iban}}</td>
      <td><p style="color:red;">Saldo:</p> {{item.saldo}}</td>

      <td><br><button on-click="obtenerMovimientos">Ver movimientos</button></td>
      <td><br><button on-click="Transferencia">Realiza Transferencia</button></td>


    </tr>

  </template>


  </tbody>

</table>

<br/>

<button left="100%" on-tap="openDialog"  on-click="logout">Logout</button>


</template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          newusu: {
            type: Boolean,
            value:false
          },
          saldo:{
            type: Number
          }
        };
        /* metodo obtenerCuentas this.$.obtenerCuentas*/
      }

      mostrarCuentas(resultado){
        console.log(resultado.detail.response)
        this.iban=resultado.detail.response["iban"]
        }
      mostrarErrorCuentas(error){
        console.log(error.detail.response)
      }
      obtenerCuentas(id) {
        this.$.obtenerCuentas.headers.idcliente = id
        this.$.obtenerCuentas.generateRequest()
      }

      obtenerMovimientos(e) {
        console.log("1. El usuario ha pulsado el botón y lanzo el evento")
        console.log(e)
        var iban=e.model.item.iban
        console.log(iban)
        this.dispatchEvent(new CustomEvent ('movimientos', {"detail":{"iban":iban}}))
        console.log("2-Evento lanzado")

      }
      mostrarErrorMovimientos(error) {
        console.log(error.detail.response)
      }
      Transferencia(e) {
        var iban=e.model.item.iban
        var saldo=e.model.item.saldo
        console.log("4-El usuario quiere una transferencia con su", iban, "y saldo", saldo)
        this.dispatchEvent(new CustomEvent ('transfer',{"detail":{"iban":iban,"saldo":saldo}}))
      }
      logout() {
        console.log("3-El usuario ha pulsado el logout")
        this.dispatchEvent(new CustomEvent ('logout', {"detail":{}}))

      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
