<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="obtenerUsuario"
         url="http://localhost:3000/apitechu/v5/usuarios/{{id}}"
         handle-as="json"
         on-response="mostrarDatos">
       </iron-ajax>
       <div class="row">
             <h1 class="col-6">{{nombre}}</h1>
             <h2 class="col-6">{{apellido}}</h2>
         </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          id: {
            type: Number
          },
          ciudad:{
            type: String,
            value: "Desconocida"
          }
        };
      }
      mostrarDatos(datos) {
        console.log(datos.detail.response)
        this.nombre = datos.detail.response.first_name
        this.apellido = datos.detail.response.last_name
      }
    }
        window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
