<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      input {
        color:blue;
        width:180px;
        height: inherit;
      }
      #blockaltausuario{
        background-color: lightblue;
      }
      div{
        width:500px;
        height:200px;
      }
    </style>

    <iron-ajax auto="" id="altaNuevousuario"
      url="http://localhost:3000/apitechu/v5/altausuario"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoalta"
      on-error="mostrarErrorResultadoalta">
    </iron-ajax>

    <h2 style="color:red">Alta de nuevo Usuario</h2>
    <br/>

  <div id "blockaltausuario" class="row">
    <form>
    <a style="color:darkgreen">Nombre:</a>
    <input style="align:center" type="text" value={{nombre::input}} /><br>
    <a style="color:darkgreen">Apellido:</a>
    <input type="text" value={{apellido::input}} /><br>
    <a style="color:darkgreen">Correo: </a>
    <input type="email" value={{correo::input}} /><br>
    <a style="color:darkgreen">Password:</a>
    <input type="password" value={{pclave::input}} /><br>
  </form>
    <br>
    <button on-click="procesarAltausuario">Registrar</button>
  </div>
      </template>

  <script>
    /**
     * `alta-usuario`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido:{
            type: String
          },
          correo:{
            type: String
          },
          pclave: {
            type: String
          }
        };
      }
      procesarAltausuario (){
        console.log("1. El usuario ha pulsado el botón")
        this.$.altaNuevousuario.headers.nombre = this.nombre
        console.log(this.nombre)
        this.$.altaNuevousuario.headers.apellido = this.apellido
        console.log(this.apellido)
        this.$.altaNuevousuario.headers.correo = this.correo
        console.log(this.correo)
        this.$.altaNuevousuario.headers.pclave = this.pclave
        console.log(this.pclave)
        this.$.altaNuevousuario.generateRequest()
      }
      mostrarResultadoalta(){
        console.log("usuario Dado de alta correctamente")
        this.dispatchEvent(new CustomEvent ('altausu', {"detail":{}}))
      }
      mostrarErrorResultadoalta(error){
        console.log(error)
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
