<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="hacerLogout"
      url="http://localhost:3000/apitechu/v5/logout"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogout"
      on-error="mostrarError">
    </iron-ajax>

    <!--<h2>Logout Usuario</h2>-->
    </template>

  <script>
    /**
     * 'logout-usuario'
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {}
      }
      procesarLogout(id) {
        console.log("Recibo el ID del cliente y pongo logged false", id)
        this.$.hacerLogout.headers.id=id
        this.$.hacerLogout.generateRequest()
      }
      mostrarResultadoLogout (){
        console.log("usuario Desconectado")
        this.dispatchEvent(new CustomEvent ('logoutusu', {"detail":{}}))
      }
      mostrarError(error) {
        console.log(error.detail.response)
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
