<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/logout-usuario/logout-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/src/alta-usuario/alta-usuario.html">
<link rel="import" href="/src/peti-saldo/peti-saldo.html">
<link rel="import" href="/src/new-saldo/new-saldo.html">
<link rel="import" href="/src/no-movimiento/no-movimiento.html">
<link rel="import" href="/src/alta-movimiento/alta-movimiento.html">

<dom-module id="padre-app">
  <template>
    <style>
    [hidden] {
      display:none !important;
    }
      :host {
        display: block;
      }
    </style>

      <!--<emisor-app id="emi" on-mievento="procesar"></emisor-app> -->
                <!-- Así llamamos al evento que esta en emisor-app
              se hace poniendo "on-" el nombre del evento -->
    <!-- <receptor-app id="recep"></receptor-app> -->
    <login-usuario hidden$={{estoylogado}} id="lgu" on-logado = "procesarLogado" on-altausuario="pAltausuario"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="vsc" on-movimientos= "procesarMovimiento" on-logout="pLogout" on-transfer="petMovimiento"></visor-cuentas>
    <visor-movimientos hidden$={{!muestramovimiento}} id="vsm" on-nummovimientos="procesarNumMovimientos"></visor-movimientos>
    <logout-usuario hidden$={{!logoutusu}} id="lgou" on-logoutusu = "procesarLogado"></logout-usuario>
    <alta-usuario hidden$={{!nuevousuario}} id="aus" on-altausu="procesarLogado"></alta-usuario>
    <peti-saldo hidden$={{!petsaldo}} id="petmo" on-nuevomovimiento = "procNuevoMovimiento" on-nomovimiento = "procNoMovimiento"></peti-saldo>
    <new-saldo hidden$={{!nuevosaldo}} id="actsal"></new-saldo>
    <no-movimiento hidden$={{!nomov}} id="nomv"></no-movimiento>
    <alta-movimiento hidden$={{!altamovi}} id="altmov"></alta-movimiento>

  </template>

  <script>
    /**
     * `padre-app`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: {
            type: Boolean,
            value:false
          },
          muestramovimiento:{
            type: Boolean,
            value:false
          },
          numemovimientos:{
            type: Number
          },
          nummov:{
            type:Number
          },
          nuevousuario:{
            type: Boolean,
            value:false
          },
          logoutusu:{
            type:Boolean,
            value:false
          },
          petsaldo:{
            type:Boolean,
            value:false
          },
          nuevosaldo:{
            type: Boolean,
            value:false
          },
          nomov:{
            type: Boolean,
            value:false
          },
          idcliente:{
            type:Number
          },
          ibanorig:{
            type: String
          },
          saldoorig:{
            type: Number,
            value:0
          },
          ibandest:{
            type: String
          },
          saldodest:{
            type: Number,
            value:0
          },
          cantidad:{
            type: Number,
            value:0
          },
          fecha:{
            type: String
          },
          month:{
            type: String
          },
          day:{
            type: String
          },
          year:{
            type: String
          },
          newfecha:{
            type: String
          }
        }
      }

        procesarLogado(e) { /* La "e" es lo que recibe del evento */
          var id = e.detail.id
          this.idcliente=id
          this.nuevousuario=false
          console.log("El id del cliente cuando hace login es: ", this.idcliente)
          this.$.vsc.obtenerCuentas(id)
          this.estoylogado = true

        }
        procesarMovimiento(e) {
          var iban=e.detail.iban
          this.muestramovimiento = true
          this.petsaldo = false
          this.$.vsm.obtenerMovs(iban)
        }
        pLogout() {
          this.logoutusu=true
          this.estoylogado=false
          this.muestramovimiento = false
          this.petsaldo = false
          this.nomov = false
          console.log("este es el cliente que voy a hacer logout ",this.idcliente)
          this.$.lgou.procesarLogout(this.idcliente)
        }
        pAltausuario(){
          this.nuevousuario=true
        }
        procesarNumMovimientos(e){
          this.numemovimientos=e.detail.nmovientos
          console.log("El numero de movimientos en el padre es:",this.numemovimientos)
        }
        petMovimiento(e){
          this.petsaldo = true
          this.nomov = false
          this.ibanorig=e.detail.iban
          this.saldoorig=parseFloat(e.detail.saldo)
          console.log("El iban y el saldo en el padre ",this.ibanorig,this.saldoorig, typeof saldoorig)
          this.$.petmo.peticionMovimiento()
        }
        procNuevoMovimiento(e){
          var ibandest = e.detail.iban
          var saldodest = parseFloat (e.detail.saldo)
          var cantidad = parseFloat (e.detail.cantidad)
          this.nomov=false
          console.log ("En el padre detalle de los iban", ibandest, "saldo", saldodest, "y cantidad ", cantidad)
          console.log("El saldo origen en el padre es", this.saldoorig, typeof this.saldoorig)
          var saldoorig = parseFloat(this.saldoorig - cantidad)
          var saldodest = parseFloat(saldodest + cantidad)
          console.log ("El saldo origen ahora es ",saldoorig, typeof saldoorig, "el iban origen es ", this.ibanorig)
          this.$.actsal.actualizaSaldos(this.ibanorig, saldoorig)
          console.log ("El saldo destino ahora es ",saldodest, typeof saldodest, " y el iban destino es ", ibandest)
          this.$.actsal.actualizaSaldos(ibandest, saldodest)
          this.petsaldo = false
          this.$.vsc.obtenerCuentas(this.idcliente)
          this.$.vsc.obtenerCuentas(this.idcliente)
          var fecha = new Date()
          var month = fecha.getMonth()+1;
          var day = fecha.getDate();
          var year = fecha.getFullYear();
          var newfecha = year + "/" + month + "/" + day
          console.log("El ID del movimiento es:",nummov, "y su fecha es:", newfecha)
          this.$.vsm.obtenerMovs(this.ibanorig)
          var nummov = this.numemovimientos++
          this.$.altmov.procAltaNuevoMovimiento(this.ibanorig,nummov,newfecha,-(cantidad))
          this.$.vsm.obtenerMovs(this.ibanorig)
          var nummov = this.numemovimientos++
          this.$.altmov.procAltaNuevoMovimiento(ibandest,nummov,newfecha,cantidad)
          this.estoylogado = true
        }
        procNoMovimiento(){
          this.nomov = true
          this.$.nomv.mensaje()
        }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
