<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="altaMovimientos"
              url="http://localhost:3000/apitechu/v5/insertanuevomovimiento"
              method="POST"
              handle-as="json"
              on-response="mostrarAltaMovimientos"
              on-error="mostrarErrorAltaMovimientos">
    </iron-ajax>


  </template>

  <script>
    /**
     * `alta-movimiento`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          id:{
            type: Number
          },
          fecha:{
            type:String
          },
          importe:{
            type: Number
          }
        };
      }
      procAltaNuevoMovimiento(iban,id,fecha,importe){
        this.$.altaMovimientos.headers.iban = iban
        this.$.altaMovimientos.headers.id = id
        this.$.altaMovimientos.headers.fecha = fecha
        this.$.altaMovimientos.headers.importe = importe
        this.$.altaMovimientos.generateRequest()
      }
      mostrarAltaMovimientos(){
        console.log("El alta del movimiento ha sido OK")
      }
      mostrarErrorAltaMovimientos(error){
        console.log(error.detail.response)
      }
    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
